// margin
.mt-0-5em{
    margin-top: 0.5em !important;
}
.mt-1em{
    margin-top: 1em !important;
}
.mt-1-5em{
    margin-top: 1.5em !important;
}
.mt-2em{
    margin-top: 2em !important;
}
.mt-2-5em{
    margin-top: 2.5em !important;
}

.mb-0-5em{
    margin-bottom: 0.5em !important;
}
.mb-1em{
    margin-bottom: 1em !important;
}
.mb-1-5em{
    margin-bottom: 1.5em !important;
}
.mb-2em{
    margin-bottom: 2em !important;
}
.mb-2-5em{
    margin-bottom: 2.5em !important;
}

// padding
.pt-0-5em{
    padding-top: 0.5em !important;
}
.pt-1em{
    padding-top: 1em !important;
}
.pt-1-5em{
    padding-top: 1.5em !important;
}
.pt-2em{
    padding-top: 2em !important;
}
.pt-2-5em{
    padding-top: 2.5em !important;
}

.pb-0-5em{
    padding-bottom: 0.5em !important;
}
.pb-1em{
    padding-bottom: 1em !important;
}
.pb-1-5em{
    padding-bottom: 1.5em !important;
}
.pb-2em{
    padding-bottom: 2em !important;
}
.pb-2-5em{
    padding-bottom: 2.5em !important;
}

